<script setup lang="ts">
import MyProfiles from "@/components/MyProfiles.vue";
</script>

<template>
  <v-container>
    <v-row>
      <v-col class="text-center">
        <v-table
          ><v-avatar color="black" size="30%">
            <v-img src="3.jpg"> </v-img> </v-avatar
        ></v-table>
      </v-col>
      <v-col>
        <v-table>
          <tbody>
            <tr>
              <th class="text-left">ชื่อ :</th>
              <td class="text-left">วราพร โคกศรี</td>
            </tr>
            <tr>
              <th class="text-left">อายุ :</th>
              <td class="text-left">21 ปี</td>
            </tr>
            <tr>
              <th class="text-left">ประวัติการศึกษา :</th>
              <td class="text-left">
                ระดับประถมศึกษา : โรงเรียนวัดนาบุญ
                <tr>
                  ระดับมัธยมศึกษา : โรงเรียนสารสาสน์วิเทศรังสิต
                </tr>
                <tr>
                  ปัจจุบัน กำลังศึกษาระดับปริญญาตรี : มหาวิทยาลัยบูรพา
                </tr>
              </td>
            </tr>
            <tr>
              <th class="text-left">สิ่งที่สนใจ :</th>
              <td class="text-left">การเข้าใจในภาษาคอมพิวเตอร์</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <v-row>
      <MyProfiles></MyProfiles>
    </v-row>
  </v-container>
</template>

<script></script>
