<script setup lang="ts"></script>

<template>
  <v-carousel>
    <v-carousel-item src="1.jpg" cover></v-carousel-item>

    <v-carousel-item src="2.jpg" cover></v-carousel-item>

    <v-carousel-item src="4.jpg" cover></v-carousel-item>
  </v-carousel>
</template>

<style></style>
